@model PortfolioGen.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PortfolioSlug)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Bio)</th>
            <th>@Html.DisplayNameFor(model => model.ProfileImage)</th>
            <th>@Html.DisplayNameFor(model => model.Published)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.PortfolioSlug)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Bio)</td>
            <td>
                <a href="/images/@Model.ProfileImage" target="_blank">
                    <img src="/images/@Model.ProfileImage" alt="Profile Image" />
                </a>
            </td>
            <td>@Html.DisplayFor(model => model.Published)</td>
            <td>@Html.DisplayFor(model => model.CreatedAt)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<form asp-action="TogglePublish" asp-controller="Portfolios" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">
        @(Model.Published ? "Unpublish" : "Publish")
    </button>
</form>
