@model PortfolioGen.Models.Portfolio

@{
    ViewData["Title"] = "Index";
}

<h1>Profil</h1>

<table class="table">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProfileImage)</th>
            <td>
                <a href="/images/@Model.ProfileImage" target="_blank">
                    <img src="/images/@Model.ProfileImage" alt="Profile Image" />
                </a>
            </td>
        </tr>

        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Bio)</th>
            <td>@Html.DisplayFor(model => model.Bio)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PortfolioSlug)</th>
            <td>@Html.DisplayFor(model => model.PortfolioSlug)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Published)</th>
            <td>@(Model.Published ? "ja" : "nej")</td>
        </tr>
        <tr>
            <th>Åtgärder</th>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Ta bort</a>
            </td>
        </tr>
    </tbody>
</table>


<form asp-action="TogglePublish" asp-controller="Portfolios" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">
        @(Model.Published ? "Sluta publicera" : "Publicera")
    </button>
</form>
